@import "fonts.scss";
@import "variables.scss";


body {
    margin: 0;
    min-width: 320px;
    font-size: 13px;
    font-family: 'Roboto' , sans-serif , Arial;
    font-weight: 400;
}

span {
    display: block;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
    color: #ABABAB;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, ul , p {
    margin: 0;
    padding: 0;
}

h2 {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 30px;
    margin-bottom: 40px;
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #39383A;
}

.wrap {
    overflow: hidden;
}

.container {
    max-width: 990px;
    margin: 20px auto;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}

.caption {
    font-size: $title_fz;
    color: $title_color;
    font-family: $title_ff;
    font-weight: $title_fw;
}

.profile {
    flex-basis: 35%;
    background-color: $color_left;
    &__photo {
        width: 100%;
        img {
            width: 100%; 
        }
    }

    &__contact {
        padding-bottom: 70px;
    }

    &__inner {
        padding: 47px 30px 70px;
        height: 100%;
    }

    &__caption {
        border-bottom: $title_bd;
        padding: 0 0 30px 0;
    }

    &__descr {
        color: $text_color;
        font-size: $text_fz;
        line-height: $text_lh;
        font-family: $text_ff;
        font-weight: $text_fw;
        margin: 20px 0 30px 0;
    }
    
    &__items-contact {
        margin-bottom: 20px;
        border-bottom: $title_bd;
        padding-bottom: 20px;
        a{
            padding-left: 31px;
            transition: all .3s;

            &:hover {
                color: $title_color;
            }
        }
    }

    &__caption-contact {
        padding-bottom: 20px;
        position: relative;
        padding-left: 32px;
        svg {
            fill: #fff;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
    &__lenguages-title {
        padding-bottom: 50px;
    }

    &__items-wrap {
        display: flex;
        flex-wrap: wrap;
    }

    &__lenguages-items {
        border: 6px solid #5c5c5c;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        margin-right: 30px;
        margin-bottom: 30px;
        &:nth-child(3) {
            margin-bottom: 0;
        }
        span {
            text-transform: uppercase;
            color:#8b8b8b;
            font-weight: 700;
            font-family: 'Open sans';
        }
        strong {
            color: #fff;
            font-size: 15px;
            font-family: 'Open sans';

        }
    }

    &__lenguages-decor {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__lines {
        display: block;
        width: 100px;
        height: 2px;
        background-color: #535253;
        margin-top: 15px;
        margin-bottom: 15px;
        &:nth-child(2) {
            width: 120px;
            margin-left: 20px;
        }
    }
}

.resume {
    flex-basis: 63%;
    background-color: #fff;
    padding: 25px 30px;
    

    &__wrap {
        border: 1px solid #A8A8A8;
        padding: 36px 56px ;
        min-height: 100%;
    }

    &__top-info {
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 40px;
        margin-bottom: 30px;
    }

    &__decor {
        display: flex;
        justify-content: center;
        margin-bottom: 38px;
    }
    
    &__lines {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
    }

    &__decor-left &__decor-lines{
        &:nth-child(2) {
            margin-right: 30px;
            width: 55px;
        }
    }

    &__decor-right &__decor-lines{
        &:nth-child(2) {
            margin-left: 30px;
            width: 55px;
        }
    }
        

    &__decor-lines {
        background-color: #39383A;
        width: 43px;
        height: 2px;
        margin: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    &__decor-center {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 1px solid #000;
    } 

    &__info-descr {
        text-align: center;
    }

    &__info-caption {
        margin-bottom: 15px;
        h1 {
            font-size: 16px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 10px;
            font-family: 'Roboto';
        }
    }

    &__info-position {
        margin-bottom: 15px;
        span {
            text-transform: uppercase;
            font-size: 10px;
            color: #808080;
        }
    }

    &__info-location {
        margin-bottom: 13px;
        address {
            color: #39383A;
            font-size: 14px;
            font-family: 'Roboto';
            font-weight: 400;
        }
    }

    &__info-connection {
        a {
            font-family: 'Roboto';
            font-size: 11px;
            font-weight: 400;
            color: #777777;
            transition: all .3s;

            &:hover {
                color: $text_color;
            }
        }
    }

    &__experiense {
        margin-bottom: 40px;
    }

    

    &__experiense-item {
        position: relative;
        margin-bottom: 40px;
        padding-left: 40px;
        border-bottom: 1px dashed #707070;
        &::before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0px;
            right: 0;
            bottom: 0;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            display: block;
            background-color: #000;

        }
    }

    &__experiense-item--title {
        font-family: 'Open sans';
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__experiense-item--date {
        font-size: 11px;
        font-weight: 500;
        font-family: 'Roboto';
        margin-bottom: 14px;
        display: block;
    }

    &__experiense-item--text {
        font-size: 12px;
        font-weight: 500;
        font-family: 'Roboto';
        color: #777777;
        padding-bottom: 40px;
    }

    &__experiense-item--bordernone {
        border: none;
    }

    &__skills {
        h2 {
            padding-bottom: 48px;
        }
    }

    &__skills-item {
        margin-bottom: 30px;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        font-family: 'Open Sans'; 
        display: flex;
        justify-content: space-between;
    }

    &__skills-level {
        width: 70%;
        height: 8px;
        border: 1px solid #39383a;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background-color: #898989;
        }
    }

    &__skills-progresH {
        &::before {
            width: 70%;
        }
    }
    &__skills-progresC {
        &::before {
            width: 60%;
        }
    }
    &__skills-progresJ {
        &::before {
            width: 30%;
        }
    }
    &__skills-progresPS {
        &::before {
            width: 50%;
        }
    }
    &__skills-progresGIT {
        &::before {
            width: 70%;
        }
    }
     
}

@media (max-width: 1024px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 992px) {
    .container {
        flex-direction: column;
    }
    .left__lenguages-decor {
        display: none;
    }
    
}

@media (max-width: 768px) {
    .container {
        width: 80%;
    }
    .right {
        padding: 10px;
    }
    .right__wrap {
        padding: 20px 20px;

    }

    .right__experiense-item--title {
        font-size: 14px;
    }

    .right__experiense-item--text {
        font-size: 13px;
        line-height: 1.4;
    }

    .right__experiense-item--date {
        font-size: 12px;
    }
}

@media (max-width: 567px) {
    .right__decor-center {
        width: 70px;
        height: 70px;
    }
    .container {
        min-width: 320px;
    }

    .right__info-connection a {
        display: block;
        padding-bottom: 10px;
        font-size: 13px;
    } 
}

@media (max-width: 480px) {
    .right__decor {
        display: none;
    }

    .right__info-caption h1{
        letter-spacing: normal;
    }

    .right__skills-level {
        width: 50%;
    }  
}

@media (max-width: 320px) {
    
}
