$color_left: #39383A;

$title_color: #fff;
$title_fz: 16px;
$title_ff: 'Open sans';
$title_fw: 700;
$title_bd: 2px dashed #5A5A5A;

$text_color: #ABABAB;
$text_fz: 14px;
$text_lh: 1.6;
$text_ff: 'Roboto';
$text_fw: 300;

